<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2> -->
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, t("views.tasks.new.labels.title") %>
    <%= form.text_field :title, id: 'task_title' %>
  </div>

  <div class="field">
    <%= form.label :content, t("views.tasks.new.labels.content") %>
    <%= form.text_area :content, id: 'task_content' %>
  </div>

  <div class="field">
    <%= form.label :deadline_on, t("views.tasks.new.labels.deadline_on") %>
    <%= form.date_field :deadline_on, id: 'task_deadline_on' %>
  </div>

<div class="field">
  <%= form.label :priority, t("views.tasks.new.labels.priority") %>
  <%= form.select :priority, I18n.t('activerecord.attributes.task.priority_values').invert.to_a, { include_blank: true, selected: nil } %>
</div>

<div class="field">
  <%= form.label :status, t("views.tasks.new.labels.status") %>
  <%= form.select :status, I18n.t('activerecord.attributes.task.status_values').invert.to_a, { include_blank: true, selected: nil } %>
</div>

  <div class="actions">
    <% if task.new_record? %>
      <%= form.submit t("views.tasks.new.buttons.create"), id: 'create-task' %>
    <% else %>
      <%= form.submit t("views.tasks.edit.buttons.update"), id: 'update-task' %>
    <% end %>
  </div>
<% end %>