<h1><%= t("views.tasks.index.title") %></h1>

<%= form_with scope: :search, local: true, method: :get do |form| %>
  <div class="field">
    <%= form.label :status, t("views.tasks.index.headers.status") %>
    <%= form.select :status, options_for_select(I18n.t('activerecord.attributes.task.status_values').invert.to_a, selected: params.dig(:search, :status)), { include_blank: true } %>
  </div>

  <div class="field">
    <%= form.label :title, t("views.tasks.index.headers.title") %>
    <%= form.text_field :title, value: params.dig(:search, :title) %>
  </div>

  <div>
    <%= form.label :label, 'ラベル' %>
    <%= form.select :label, options_from_collection_for_select(Label.all, :id, :name, params.dig(:search, :label)), include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit t("views.tasks.index.buttons.search"), class: "btn btn-primary", id: 'search_task' %>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th ><%= t("views.tasks.index.headers.title") %></th>
      <th><%= t("views.tasks.index.headers.content") %></th>
      <th><%= t("views.tasks.index.headers.created_at") %></th>
      <th><%= link_to t("views.tasks.index.headers.deadline_on"), tasks_path(sort_deadline_on: true) %></th>
      <th><%= link_to t("views.tasks.index.headers.priority"), tasks_path(sort_priority: true) %></th>
      <th><%= t("views.tasks.index.headers.status") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-title"><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.in_time_zone('Tokyo').strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= task.deadline_on %></td>
        <td><%= I18n.t("activerecord.attributes.task.priority_values.#{task.priority}") %></td>
        <td><%= I18n.t("activerecord.attributes.task.status_values.#{task.status}") %></td>
        <td class="show-task"><%= link_to t("views.tasks.index.links.show"), task, class: "btn btn-info" %></td>
        <td class="edit-task"><%= link_to t("views.tasks.index.links.edit"), edit_task_path(task), class: "btn btn-warning" %></td>
        <td class="destroy-task"><%= link_to t("views.tasks.index.links.destroy"), task, method: :delete, data: { confirm: t('viewes.tasks.index.dialogs.destroy_confirm') }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @tasks %>
<!-- <%= link_to 'New Task', new_task_path %> -->