<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li><a id ="users-index" href="<%= admin_users_path %>">ユーザ一覧</a></li>
          <li><a id="add-user" href="<%= new_admin_user_path %>">ユーザを登録する</a></li>
          <li><a id="tasks-index" href="/"><%= t("views.layout.navbar.tasks_index") %></a></li>
          <li><a id="new-task" href="/tasks/new"><%= t("views.layout.navbar.new_task") %></a></li>
          <li><a id="account-setting" href="<%= edit_user_path(current_user) %>">アカウント設定</a></li>
          <li><a id="sign-out" href="<%= logout_path %>" data-method="delete">ログアウト</a></li>
        <% else %>
          <li><a id="sign-up" href="<%= new_user_path %>">アカウント登録</a></li>
          <li><a id="sign-in" href="<%= new_session_path %>">ログイン</a></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
