  <!DOCTYPE html>
  <html>
    <head>
      <title>CdpWebManyoTask</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <ul class="navbar-nav">
        <li><a id="tasks-index" href="/"><%= t("views.layout.navbar.tasks_index") %></a></li>
        <li><a id="new-task" href="/tasks/new"><%= t("views.layout.navbar.new_task") %></a></li>
      </ul>
      <%= yield %>
    </body>
  </html>
